<!DOCTYPE html>
<html>
<head>
  <title>Wifisocket</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>.: Fully :. Fully Theme by DesignareThemes</title>
  
  
</head>
<body>

<%= yield %>

</body>

<!-- top panel -->
<div id="top-panel" class="fade-image">
	<div id="top-line"></div>
</div>

<!-- begin Wrapper -->
<div id="wrapper" class="container_12 clearfix" >
	<header id="header" class="container_12 clearfix">
		
		<!-- Your Logo -->		
		<div class="grid_4">
			<div id="logo" >
				<a href="index-2.html">fully</a>
			</div>
		</div>
					
		<!-- Start Menu -->			
		<div id="menu-div" class="grid_8 jqueryslidemenu">
			<ul>
				<li>
					<a class="selected" href="index-2.html">Home</a>
				</li>
				<li>
				  <a href="javascript:;">Trending</a>
				</li>
				<li>
					<a href="#">MeetUp!</a>
				</li>
				
				<li>
					<a href="javascript:;">Vote</a>
				</li>
			
			</ul>
			<br style="clear:left;"/>
		</div>
		<!-- end Menu -->
					
	</header>
	
	
	
	<!-- Content 3Columns Fullscreen -->
	<div id="noslider" class="grid_12 clearfix">
			
			<div class="noslidertxt">
				<h3>Dear Geek Bro, I heard that you have some trouble with wifi and power plug.<br/>
				<span><b style="font-weight:bold;">Challenge Accepted!</b> Look through these places with wifi and electricity!</span>
				
				</h3>
				<a href="#" class="blue-button">Join Us!</a>
			</div>
			
			<!-- ICONS -->
			<section class="container_12 clearfix" style="margin-bottom: 30px;position:relative;float:left;left:12px;">
			
				<div id="icons-columns2" class="container_12 clearfix" style="margin-top: -90px;margin-bottom: 25px;">
					<div class="icon-item grid_3" style="margin: 0">
						<div class="img">
						  <%= image_tag "wifi_logo.png"%>
              <!-- <img src="img/wifi_logo.png" alt=""> -->
						</div>
						<div class="description">
							<div class="title" >Awesome (Free) Wifi</div>
							<p class="title-description">Wifi is fundamental. Without wifi, how can we collaborate?<br /> </p>
						</div>
					</div>
					<div class="icon-item grid_3" style="left: 8px;">
						<div class="img">
						  <%= image_tag "icons/icon2.png"%>
              <!-- <img src="img/icons/icon2.png" alt=""> -->
						</div>
						<div class="description">
							<div class="title">Power Sockets</div>
							<p class="title-description">Power Plug and Wifi is just like Yin and Yang. Wifi without power plug means that you are chasing us away.</p>
						</div>
					</div>
					<div class="icon-item grid_3" style="left: 18px;">
						<div class="img">
						  <%= image_tag "food_icon.png" %>
              <!-- <img src="img/food_icon.png" alt=""> -->
						</div>
						<div class="description">
							<div class="title">Awesome  Lovely Food</div>
							<p class="title-description">Thank you so much for the wifi and electricity. Now, can I haz cheeseburger?</p>
						</div>			
					</div>
					<div class="icon-item grid_3" style="left: 27px;">
						<div class="img">
						  <%= image_tag "beer-icon.png"%>
              <!-- <img src="img/beer-icon.png" alt=""> -->
						</div>
						<div class="description">
							<div class="title">Super Power Beer!</div>
							<p class="title-description">Finally, the last potion to do magic! </p>
						</div>
					</div>
				</div>
			</section>
			
			<!-- Recent Work/All -->	
			<section id="recent-works-noslider" class="grid_12" style="margin-bottom: 10px;">
				<div class="points_left"></div>
				<div class="divider-description">
				
					<h5>Geek Places <a href="portfolio_4columns_static.html">View All</a></h5></div>
				<div class="points_right"></div>
			</section>
			
			<!-- Projects -->
			<div class="noslider-content other_categories grid_12" style="position:relative; top: -20px;">				
					
					<div id="portfolio" class="gallery_projects container_12 clearfix" >
						<div class="projects" style=" margin: 0px 0px 0px 25px ; ">
								<ul class="list">
								
									<li id="project_1" data-id="id-1" rel="proj-brand" class="proj-item">
										<div class="thumb-proj">
											<div class="img-loader-container">
											  <%= image_tag "project01.jpg" :class => "proj-img-4col img-loader add-hover-fullscreen"%>
                        <!-- <img class="proj-img-4col img-loader add-hover-fullscreen" src="img/proj-examples/project01.jpg" alt="alternative text"> -->
												<div class="description no-text-selection">
													<a href="#">Branding</a>
												</div>
												
												<!-- Images Fulscreen -->
												<div class="fullscreen-info">
													<div class="title">project #01</div>
													<div class="images">															
														
													  <!-- <img alt="" src="img/images_fullscreen/full-img8.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img4.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img6.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img3.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img7.jpg"> -->
													</div>
													<div class="FSdescription">
														<h4>View your work in FullScreen!</h4>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
													
														<div class="FSfooter">
															<div class="cat">Category</div>
															<div class="category">Web</div>
														</div>
													</div>
												</div>
											</div>
											<div class="details-4col">
												<div class="title">Project#01</div>
												<div class="excerpt">A very simple and brief excerpt of what happens inside this.</div>
											</div>
										</div>
									</li>
									
									<li id="project_2" data-id="id-2" rel="proj-ill" class="proj-item">
										<div class="thumb-proj">
											<div class="img-loader-container">
											  <%= image_tag "project01.jpg" :class => "proj-img-4col img-loader add-hover-fullscreen"%>
                        <!-- <img class="proj-img-4col img-loader add-hover-fullscreen" src="img/proj-examples/project02.jpg" alt="alternative text"> -->
												<div class="description no-text-selection">
													<a href="#">Illustration</a>
												</div>
												
												<!-- Images Fulscreen -->
												<div class="fullscreen-info">
													<div class="title">project #02</div>
													<div class="images">
													  <!-- <img alt="" src="img/images_fullscreen/full-img5.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img1.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img2.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img8.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img4.jpg"> -->
														
													</div>
													<div class="FSdescription">
														<h4>View your work in FullScreen!</h4>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
													
														<div class="FSfooter">
															<div class="cat">Category</div>
															<div class="category">Web</div>
														</div>
													</div>
												</div>
											</div>
											<div class="details-4col">
												<div class="title">Project#02</div>
												<div class="excerpt">A very simple and brief excerpt of what happens inside this.</div>
											</div>
										</div>
										
									</li>
									
									<li id="project_3" data-id="id-3" rel="proj-brand" class="proj-item">
										<div class="thumb-proj">
											<div class="img-loader-container">
											  <%= image_tag "project01.jpg" :class => "proj-img-4col img-loader add-hover-fullscreen"%>
                        <!-- <img class="proj-img-4col img-loader add-hover-fullscreen" src="img/proj-examples/project03.jpg" alt="alternative text"> -->
												<div class="description no-text-selection">
													<a href="#">Illustration</a>
												</div>
												
												<!-- Images Fulscreen -->
												<div class="fullscreen-info">
													<div class="title">project #03</div>
													<div class="images">
												    <!-- <img alt="" src="img/images_fullscreen/full-img5.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img1.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img2.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img8.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img4.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img6.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img3.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img7.jpg"> -->
													</div>
													<div class="FSdescription">
														<h4>View your work in FullScreen!</h4>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
													
														<div class="FSfooter">
															<div class="cat">Category</div>
															<div class="category">Web</div>
														</div>
													</div>
												</div>
											</div>
											<div class="details-4col">
												<div class="title">Project#03</div>
												<div class="excerpt">A very simple and brief excerpt of what happens inside this.</div>
											</div>
										</div>
										
										
									</li>
									
									<li id="project_4" data-id="id-4" rel="proj-ill" class="proj-item">
										<div class="thumb-proj">
											<div class="img-loader-container">
											  <%= image_tag "project01.jpg" :class => "proj-img-4col img-loader add-hover-fullscreen"%>
                        <!-- <img class="proj-img-4col img-loader add-hover-fullscreen" src="img/proj-examples/project04.jpg" alt="alternative text"> -->
												<div class="description no-text-selection">
													<a href="#">Illustration</a>
												</div>
												
												<!-- Images Fulscreen -->
												<div class="fullscreen-info">
													<div class="title">project #04</div>
													<div class="images">
													  <!-- <img alt="" src="img/images_fullscreen/full-img5.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img1.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img2.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img8.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img4.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img6.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img3.jpg">
													                           <img alt="" src="img/images_fullscreen/full-img7.jpg"> -->
													</div>
													<div class="FSdescription">
														<h4>View your work in FullScreen!</h4>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
													
														<div class="FSfooter">
															<div class="cat">Category</div>
															<div class="category">Web</div>
														</div>
													</div>
												</div>
											</div>
											<div class="details-4col">
												<div class="title">Project#04</div>
												<div class="excerpt">A very simple and brief excerpt of what happens inside this.</div>
											</div>
										</div>
										
									</li>
									
									<li id="project_5" data-id="id-5" rel="proj-ill" class="proj-item">
										<div class="thumb-proj">
											<div class="img-loader-container">
											  <%= image_tag "project01.jpg" :class => "proj-img-4col img-loader add-hover-fullscreen"%>
                        <!-- <img class="proj-img-4col img-loader add-hover-fullscreen" src="img/proj-examples/project05.jpg" alt="alternative text"> -->
												<div class="description no-text-selection">
													<a href="#">Illustration</a>
												</div>
												
												<!-- Images Fulscreen -->
												<div class="fullscreen-info">
													<div class="title">project #05</div>
													<div class="images">
														<!-- <img alt="" src="img/images_fullscreen/full-img5.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img1.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img2.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img8.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img4.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img6.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img3.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img7.jpg"> -->
													</div>
													<div class="FSdescription">
														<h4>View your work in FullScreen!</h4>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
													
														<div class="FSfooter">
															<div class="cat">Category</div>
															<div class="category">Web</div>
														</div>
													</div>
												</div>
											</div>
											<div class="details-4col">
												<div class="title">Project#05</div>
												<div class="excerpt">A very simple and brief excerpt of what happens inside this.</div>
											</div>
										</div>
										
									</li>
									
									<li id="project_6" data-id="id-6" rel="proj-video" class="proj-item">
										<div class="thumb-proj">
											<div class="img-loader-container">
											  <%= image_tag "project01.jpg" :class => "proj-img-4col img-loader add-hover-fullscreen"%>
                        <!-- <img class="proj-img-4col img-loader add-hover-fullscreen" src="img/proj-examples/project06.jpg" alt="alternative text"> -->
												<div class="description no-text-selection">
													<a href="#">Illustration</a>
												</div>
												
												<!-- Images Fulscreen -->
												<div class="fullscreen-info">
													<div class="title">project #06</div>
													<div class="images">
														<!-- <img alt="" src="img/images_fullscreen/full-img5.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img1.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img2.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img8.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img4.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img6.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img3.jpg">
														                            <img alt="" src="img/images_fullscreen/full-img7.jpg"> -->
													</div>
													<div class="FSdescription">
														<h4>View your work in FullScreen!</h4>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
													
														<div class="FSfooter">
															<div class="cat">Category</div>
															<div class="category">Web</div>
														</div>
													</div>
												</div>
											</div>
											<div class="details-4col">
												<div class="title">Project#06</div>
												<div class="excerpt">A very simple and brief excerpt of what happens inside this.</div>
											</div>
										</div>
										
									</li>
									
									<li id="project_7" data-id="id-7" rel="proj-gd" class="proj-item ">
										<div class="thumb-proj">
											<div class="img-loader-container">
											  <%= image_tag "project01.jpg" :class => "proj-img-4col img-loader add-hover-fullscreen"%>
                        <!-- <img class="proj-img-4col img-loader add-hover-fullscreen" src="img/proj-examples/project07.jpg" alt="alternative text"> -->
												<div class="description no-text-selection">
													<a href="#">Illustration</a>
												</div>
												
												<!-- Images Fulscreen -->
												<div class="fullscreen-info">
													<div class="title">project #07</div>
													<div class="images">
														<img alt="" src="img/images_fullscreen/full-img5.jpg">
														
													</div>
													<div class="FSdescription">
														<h4>View your work in FullScreen!</h4>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
													
														<div class="FSfooter">
															<div class="cat">Category</div>
															<div class="category">Web</div>
														</div>
													</div>
												</div>
											</div>
											<div class="details-4col">
												<div class="title">Project#07</div>
												<div class="excerpt">A very simple and brief excerpt of what happens inside this.</div>
											</div>
										</div>
									
									</li>
									
									<li id="project_8" data-id="id-8" rel="proj-anim" class="proj-item">
										<div class="thumb-proj">
											<div class="img-loader-container">
											  <%= image_tag "project01.jpg" :class => "proj-img-4col img-loader add-hover-fullscreen"%>
                        <!-- <img class="proj-img-4col img-loader add-hover-fullscreen" src="img/proj-examples/project08.jpg" alt="alternative text"> -->
												<div class="description no-text-selection">
													<a href="#">Illustration</a>
												</div>
												
												<!-- Images Fulscreen -->
												<div class="fullscreen-info">
													<div class="title">project #08</div>
													<div class="images">
												    <!-- <img alt="" src="img/images_fullscreen/full-img5.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img1.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img2.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img8.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img4.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img6.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img3.jpg">
												                            <img alt="" src="img/images_fullscreen/full-img7.jpg"> -->
													</div>
													<div class="FSdescription">
														<h4>View your work in FullScreen!</h4>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
														<p>College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
													
														<div class="FSfooter">
															<div class="cat">Category</div>
															<div class="category">Web</div>
														</div>
													</div>
												</div>
											</div>
											<div class="details-4col">
												<div class="title">Project#08</div>
												<div class="excerpt">A very simple and brief excerpt of what happens inside this.</div>
											</div>
										</div>
										
									</li>
									
										
								</ul>				
							
							</div>
					
						</div>
			</div>
			
	<section class="home_finalizer grid_12 clearfix" style="height:50px;margin-top: -27px;margin-bottom:10px;">
		<div class="points grid_5" style="left: 10px;width:380px;"></div>
		<div id="logo_bottom" class="grid_2" style="position:relative; left: -5px;"><a href="index-2.html">fully</a></div>
		<div class="points grid_5" style="position:relative; left:-10px; width:380px;"></div>
	</section>
	</div>
		
			
	<div class="grid_12 clearfix">
		<div class="clear_bottom"></div>
	</div>

<!-- end Wrapper -->
</div>

<!-- start Footer -->
<div id="footer">
	
	<div class="container_12 clearfix" style="padding-bottom: 30px;">
	
		<div class="col_1 grid_4">
			<div class="fully_col1">fully</div>
			<div class="text_col1">wifiSocket.com: directory of places with wifi, power plug, awesome food, and great beer!<br> Enjoy ;)</div>
		</div>
		<div class="col_2 grid_1">
			<div class="title"></div>

		</div>
		<div class="col_3 grid_3">
			<div class="title"></div>
			<div id="twitter_update_list">
			
			</div>
		</div>
		<div class="col_4 grid_4 clearfix">
			<div class="title"></div>
			<ul id="flickr" class="thumbs"></ul>
		</div>
	
	</div>
	
	<div class="copyrights container_12 clearfix">
		<div class="csocial grid_12">
			<div class="copyright grid_4" style="margin:0;"> © Geeks Kingdom </div>
			<div class="social grid_7" style="margin:0;">
				<ul>
		      <!-- <li><a href="javascript:;" class="rss tooltip" title=""><span>RSS</span></a></li>
		           <li><a href="javascript:;" class="delicious tooltip" title=""><span>Delicious</span></a></li>
		           <li><a href="javascript:;" class="youtube tooltip" title=""><span>YouTube</span></a></li>
		           <li><a href="javascript:;" class="vimeo tooltip" title=""><span>Vimeo</span></a></li>
		           <li><a href="javascript:;" class="skype tooltip" title=""><span>Skype</span></a></li>
		           <li><a href="javascript:;" class="facebook tooltip" title=""><span>Facebook</span></a></li> -->
					
				</ul>
			</div>
		</div>
	</div>
	
</div>
<!-- end Footer -->

</body>

<script type="text/javascript">

//REMOVE li's BOX-SHADOW 
$('.projects .list .proj-item').css({
	'box-shadow':'none' 
});

$(document).ready(function(){
if (window.BrowserDetect.browser === "Explorer"){
	$('.fullscreen-icon, .magnify, .more-info').css('bottom',2);
	if (navigator.appVersion.indexOf("MSIE") != -1)
	      // bah, IE again, lets downgrade version number
	      version = parseFloat(navigator.appVersion.split("MSIE")[1]);
	      if (parseInt(version) == 8){
			$('.fullscreen-icon, .magnify, .more-info').each(function(){
				$(this).css('bottom',1)
			});
	      }
}
});
</script>

</html>



